- @hosts.each do |host|
  .col-xs-3.col-md-2
    .well
      p.text-center
        = host.name
      - if admin_signed_in?
        p.text-center
          = link_to edit_host_path(host.id), :class => "btn btn-default btn-xs" do
            span.glyphicon.glyphicon-pencil
            | Edit
          = link_to host_path(host.id), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-xs" do
            span.glyphicon.glyphicon-remove
            | Remove
      p.text-center
        a href=host.path 
          = image_tag "https://chart.googleapis.com/chart?cht=qr&chs=140x140&chl=#{host.path}",  alt: "QR Code", :class => "img-rounded img-cover"
      p.text-center
        span.label.if.else class=("<haml:silent> !host.online? </haml:silent><haml:block>label-danger</haml:block><haml:silent> </haml:silent><haml:block>label-success</haml:block>") = host.status
      p.text-center
        | Last updated at
        br/
        = time_ago_in_words(host.updated_at)
        | ago.
