<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.name %></td>
        <td><a href="<%= host.path %>"><%= host.path %></a></td>
        <td><%= host.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
